
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #141416;
    height: 56rem;
    justify-content: center;
    width: 100%;
    position: relative;
    & > span {
        width: 100% !important;
    }
}
.textElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 100px;
}
.text404 {
    font-size: 200px;
    font-weight: 700;
}
.textNotice {
    font-size: 20px;
    margin-top: 40px;
    width: 305px;
    text-align: center;
    margin: auto;
}
.text{
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.75px;
    color: #e6e8ec;
    margin-bottom: 2.7rem;
    margin-top: 3.2rem;
    line-height: 26px;
}


@media only screen and (max-width: 576px){
    .container {
        height: 100%;
    }
    .textElement {
        margin-bottom: 0;
    }
    .text404 {
        font-size: 100px;
    }
    .textNotice {
        font-size: 16px;
    }
    
}